{% extends 'index.html' %}


{% block body %}
<div class = "container" id = myrow>
    <div class = "row">
        <pre>
            Welcome to Image Processing Web App with Machine Learning Model
                What will you learn:
                - Skimage
                - Data Preprocessing
                - Feature Extraction
                - Machine Learning Model
                - Pipeline Model
                - Flask App
                - Deploy in Python Anywhere
        </pre>
    </div>
</div>

<style>
    #myrow{
        background-color: #EBEDEF;
        }
</style>

{% endblock  %}